@import "header";
@import "footer";

body {
    background: silver;
}
.search_form{
    background-color: rgb(255, 0, 0);
    padding: 1rem;
}
.search_form--input {
        background: yellow;
        border-radius: 10px;
}
.max{
    display: grid;
    grid-template-columns: repeat(2, 50rem);
}