@import "header";
@import "footer";

body {
    background: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search_form{
    background-color: rgb(255, 0, 0);
    padding: 1rem;
}
.search_form--input {
        background: pink;
        border-radius: 10px;
}